@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
        html{
          zoom: 85%;
          color: white;
        }
        /*Website Structure*/
        .main-website-structure{
            margin: 0px;
            display: flex;
            flex-direction: column;
        }
        /*Header Contents*/
        .website-header{
            display: flex;
            padding-bottom: 10px;
            padding-top: 7px;
            background-color: #0054ae;
            justify-content: space-between;
            align-items: center; /* y-axis */ 
        }
        .website-logo-link{
            text-decoration: none;
        }

        .website-logo-link:visited{
            text-decoration: none;
        }

        .website-logo{
            display: flex;
            width: 20%;
            align-items: center; /* y-axis */ 
            margin-right: 100px;
            
        }
        
        .website-logo > img{
            width: 100px;
            padding-left: 10px;
            border-radius: 30%;
            margin-right:5px;
        }
        
        .website-logo > a {
            display: inline-block; /* or display: block; */
        }
        #logo{
            display: flex;
            width: 180px;
  
          }
          
          @font-face {
            font-family: "Gagalin-Regular";
            src: url("https://db.onlinewebfonts.com/t/240a7cb10b49b02c94ceddc459d385a9.eot");
            src: url("https://db.onlinewebfonts.com/t/240a7cb10b49b02c94ceddc459d385a9.eot?#iefix")format("embedded-opentype"),
            url("https://db.onlinewebfonts.com/t/240a7cb10b49b02c94ceddc459d385a9.woff2")format("woff2"),
            url("https://db.onlinewebfonts.com/t/240a7cb10b49b02c94ceddc459d385a9.woff")format("woff"),
            url("https://db.onlinewebfonts.com/t/240a7cb10b49b02c94ceddc459d385a9.ttf")format("truetype"),
            url("https://db.onlinewebfonts.com/t/240a7cb10b49b02c94ceddc459d385a9.svg#Gagalin-Regular")format("svg");
          }
          
          #logo1{
            letter-spacing: 2px;
            padding-left: 10px;
            color:rgb(255, 255, 255);
            font-size: 40px;
            font-weight: bold;
            font-family: "Gagalin-Regular", Helvetica, sans-serif;
         
            height: 50px;
            width: 136px;
          }
          
          #logo2{
            padding-right: 9px;
            color:yellow;
            display: flex;
            align-items: center;
            font-size: 30px;
            font-weight: bold;
            font-family: "Gagalin-Regular", Helvetica, sans-serif;
          
            height: 50px;
            width: 40px;
            max-width:180px;
          }
        /* .website-logo strong {
            font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; 
            color: #FEFFFF; 
            font-size: 25px; 
        } */
        .website-search-bar{ 
            justify-content: center; /* x-axis */
            display: flex;
            font-size: large;
            align-items: center; /* y-axis */           
            border-radius: 30px;
            height: 65px;
            width: 50%;
         
        }

        .website-search-bar > form{ 
            display:flex;
            height:70%;
          
          
        }
        #search-field{ 
            width: 450px; 
            border-radius: 20px;
            border-color: #AC3B61;
            padding:15px;
            margin-right:10px;
            background-color: #252744;
            color: white;
        }
        #search-button{
            border-radius: 20px;
            border-color: #AC3B61;
            background-color: #d6c4b0;
            padding:10px;
        }
        .website-logout{
            width: 15%;
            display: flex;
            align-items: center; /* y-axis */ 
            justify-content: center; /* x-axis */
        }
        .website-user-profile{
            width: 15%;
            display: flex;
            align-items: center; /* y-axis */ 
            justify-content: center; /* x-axis */
            position: none;
            gap: 10px;
            padding-right: 60px;
            justify-content: right; /* x-axis */
        }
        .website-user-profile > img{
            border: 5px solid rgb(255, 255, 255);
            width: 80px;
            border-radius: 100%;
        }
        .dropdown-wrap{
            position: absolute;
            border-radius: 20px;
            top: 101%;
            right: 0%;
            width: 225px;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.2s;
        }
        .dropdown-wrap.open-d{
            max-height: 400px;
        }
        .userdd{
            height: 200px;
            background-image: url("/polybg-blue.jpg");
            background-size: cover;
            background-position: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .userdd img{
            width: 100px;
        }
        .userdd h2{
            margin: 0;
            padding: 0;
            color: white;
        }
        #d_links{
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #0054ae;
            margin: 0px;
            padding-left: 0px;
            border-radius: 0 0 15px 15px ;
            overflow: hidden;
          }
          
          #d_links > li{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0px;
            height: 50px;
            width: 100%;
            transition: 0.1s;
          }
          
          #d_links > li a{
            display: flex;
            color: white;
            text-decoration: none;
            justify-content: center;
            align-items: center;
            width: 100%;
            font-size: 18px;
            font-family:'Poppins', sans-serif;
          }
          
          #d_links > li:hover {
            background-color: rgb(94, 135, 248);
          }
        .website-logout > img{
            width: 43px;
            padding-left: 80px;
            border-radius: 50%;
            padding-right: 2px;
        }
        #logout-button, #user-profile{
            border-radius: 20px;
        }
        #signup{
            border-radius: 20px;
            padding: 10px 20px; /* 1.top-buttom, 2.left-right */
            border-color: #AC3B61;
            background-color:#eeeae8;
            text-decoration: none;
            color: black;
        }
        .website-user-profile button{
            padding: 10px 20px; /* 1.top-buttom, 2.left-right */
            border-color: #AC3B61;
            background-color:#eeeae8;
        }
        .website-logout button{
            padding: 10px 20px; /* 1.top-buttom, 2.left-right */
            border-color: #AC3B61;
            background-color:#eeeae8;
        }

               /* Body Content */
               .website-body{
                display:flex;
            }

            /* Body Sidebar Content */
            .sidebar{
                border-right: 1px solid rgba(21, 20, 20, 0.972);
                border-left: 1px solid rgba(21, 20, 20, 0.972);
                flex:1;
                height:1000px;
                background-color: 	rgb(41, 44, 65);
                max-height: 1000px;
            }
            .home-segment{
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                gap: 1.5em;
                padding-left: 15px;
                border-bottom: 1px solid rgba(21, 20, 20, 0.972);
                height:15%;
            }
            .tag{
                display: flex;
                align-items: center; /* y-axis */ 
                margin-top: 10px;
                font-size: larger;
            }
            .tag > img{
                width: 60px;
                padding-right: 10px;
               
              
            }
            .upper-right{
                display: flex;
                border-bottom: 1px solid rgba(21, 20, 20, 0.972);
                height:15%;
            }
            
            .topics-segment{
                display: flex;
                flex-direction: column;
                padding-left: 20px;
                border-bottom: 1px solid rgba(21, 20, 20, 0.972);
        
         
                height:70%;
            }
            .topics-segment > p {
                color: black; 
                font-size: 17px; 
                font-family: 'Times New Roman', Times, serif, sans-serif; 
            }
            .topic{
                display: flex;
                align-items: center; /* y-axis */ 
                margin-top: 10px;
                margin-left: 10px;
            }
            .topic > img{
                width: 50px;
                margin-right: 10px;
                border-radius: 50px;
                border: 2px solid black;
            }
    
            .about-segment{
                display: flex;
                flex-direction: column;
                padding-left: 20px;       
                height: 15%;
            }
            .about-tag{
                display: flex;
                align-items: center; /* y-axis */ 
                margin-top: 10px;
                margin-left: 10px;
            }
            .about-tag > img{
                width: 50px;
                padding-right: 10px;
                border-radius: 50px;
            }
    
            .content{
                flex-direction: column;
                background-color: #252744;
            
                height: 1000px;
                max-height: 1000px;
                flex:3;
            }
            .content-header{
                display: flex;
            }
            .content-header > img{
                width: 100%;
                height: 150px;
                object-fit: cover;
                object-position: 0px -120px;
            }
    
           /*For margin and entire body of posts*/
           .post-margin{
            width: 100%;
            height: 82%;
            padding-top: 1%;
            display: flex;
            justify-content: center;
            overflow: scroll;
            overflow-x: hidden;
            overflow-y:auto;
        }
        .post-area{
            width: 90%;
            height: 100%;
        }
        .post-create{
            background-color: wheat;
            width: 95.5%;
            margin: 0.5% 2%;
            padding: 0.5% 0.25%;
            height: auto;
            border-radius: 5px;
        }
        .post-form{
            height: auto;
            flex-direction: column;
        }
        .post-row{
            width: 100%;
            display: flex;
            margin-bottom: 5px;
            margin-top: 5px;

        }
        .post-form textarea{
            width: 90%;
            height: 50px;
            border-radius: 15px;
            resize: none;
            padding:10px;
            margin-left:10px;
            margin-right:10px;
        }
        .post-row > input[type="file"]{
            display: none;
        }
        .post-row > input[type="text"]{
            width: 80%;
            height: 25px;
            border-radius: 15px;
            padding:10px;
            margin-right:10px;
            margin-left:10px;
        }
        .post-row > label > img,.post-row > button{
            width: 50px;
            height: 50px;
            border: 1px solid black;
        }


        .post-image{
            padding:5px;
            padding-top:8px;
        }
        #submitpost{
            margin:5px;
            margin-top:8px;
        }

        
        /*Content of post*/
        .post{
            background-color: #28438d;
            width: 95.5%;
            margin: 1% 2%;
            height: auto;
            border-radius: 15px;
            flex-direction: column;
            border: 2px solid transparent;
            border-bottom-right-radius: 0px;
        }
        .post:hover {
            border-color: white;
            border-width: 2px solid;
        }
        /*Profile pic name etc*/
        .post-header{
            width: 100%;
            height: 40px;
            display: flex;
            background-color:	#333333;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            border-bottom: black solid 1px;
            align-items: center;
            justify-content: space-between;
          
        }

        .post-title{
            width: 70%;
            padding-left: 12px;
            padding-top: 5px;
            font-size: 12px;
        }
        .post-profile{
            display: flex;
        }
        .post-profile > img{
            margin-left: 5px;
            border-radius: 50%;
            width: 30px;
            height: 30px;
        }
        .post-header > h4, h6 {
            padding:5px;
            padding-right:12px;
            
        }


        .post-body{
            width: 100%;
            height: auto;
            margin-top: 5px;
            margin-bottom: 5px;
            padding:10px;
        }
        .post-img{
            width: 100%;
            display: flex;
            justify-content: center;
            margin-bottom: 15px;
        }
        .post-img > img{
            width: 90%;
        }
        .post-action{
            width: 100%;
            height: 20px;
            padding: 2.5px 0px;
            display: flex;
            padding-left: 10px;
        }
        .post-action > img, .post-action > label > img{
            width: 20px;
            height: 20px;
            margin: 0px 5px;
        }
        .comment{
            width: 100%;
            height: auto;
            padding:10px;
            box-sizing: border-box;
        }
        toggle-comment-section{
            margin-left: 10px;
        }
        .comment-form{
            height: 100%;
            display: flex;
            margin-top: 5px;
        }
        .comment-form textarea{
            width: 85%;
            border-radius: 10px;
            height: auto;
            resize: none;
            padding:10px;
        }
        .comment-form > button{
            width: 15%;
            height: 100%;
            border-radius: 10px;
            margin: 0px 0px;
            vertical-align: middle;
        }
        .comment-section {
            width: 100%;
            height: 100px; /* Set the height of the comment box */
           
        }
        
        .comment-container {
            width: 100%;
            height: 100%;
            overflow-y: auto; /* Enable vertical scrollbar */
            overflow-x: hidden; /* Hide horizontal scrollbar */
           
        }
        
        .comment-text {
            text-align: justify ;
            padding:10px;
            display: flex;
            padding-right: 5px;
        }
        
        .comment-user{
            width: 20%;
            height: auto;
            margin: 0.1%;
            padding-right: 5px;
        }
        .hidden {
            display: none;
        }
    
            /*Right side bar*/
                
            .filter-outer{
                margin:50px;
                height: 50%;
            }

            .filter-post{
        
                display: flex;
                width: 100%;
                flex-direction: column;
            }
            .filter-button{
                color:white;
                background-color: #0054ae;
                width: 100%;
                display: flex;
                margin-bottom  : 20px;
                justify-content: center;
                border-radius: 10px;
                
            }
            .filter-button:hover{
                background-color: #403dce;
                border: 3px white solid;
                
            }


.notification{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 85%;
    height: 65%;
    background-color: rgb(126, 126, 255);
    border: 1px solid black;
    border-radius: 10px;
    animation: 0.5s ease-out 0s 1 slideInLeft;
}

@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translateX(200%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
  }

.notification #notiBtnDiv{
    display: flex;
    justify-content: flex-end;
}

.notification button{
    height: 100%;
    cursor: pointer;
    border: none;
    background: transparent;
    margin-right: 10px;
    font-size: 20px;
}

.notification #notiMsgDiv{
    color:#ffffff;
    font-weight: bold;
    height: 60%;
    display: flex;
    align-items: flex-start;
    padding-left: 20px;
    font-size: 18px;
}

@keyframes popUp {
    0% {
        opacity: 0.5;
        transform: translateY(50%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#anchor{
    position: relative;
    transition: 0.5s all;
    animation: 0.4s ease-out 0s 1 popUp;
}

#eyes{
    transition: 0.5s all;
    height: 150px;
    width: 150px;
    animation: 0.4s ease-out 0s 1 popUp;
}

#eyes, #eyes img{
    position: absolute;
}

.eye:nth-child(1){
    top: 72px;
    right: 88px;
}

.eye:nth-child(2){
    top: 74px;
    right: 55px;
}

.eye{
    width: 13px;
}
.upper-left{
    display: flex;
    align-items: flex-start;
    overflow: hidden;
    width: 40%;
}
#anchor{
    width: 150px;
}

@keyframes slideInLeftBubble{
    0% {
        opacity: 0;
        transform: translateX(50%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

#speech-bubble{
    font-size: small;
    position: absolute;
    background-image: linear-gradient(to left, rgba(153, 90, 255, 0.842) , #304fffb9);
    border-radius: 10px 10px 0 10px;
    top: 175px;
    left: 6px;
    width: 10%;
    height: 5%;
    color: white;
    display: none;
    font-weight: 400;
    padding: 10px 10px;
    padding-bottom: 5px;
    animation: 0.4s ease-out 0s 1 slideInLeftBubble;
}