<div class="sidebar">
        <div class="upper-right">
            <img id="anchor" src="/furina-derp.png" alt="derfurina">
            <div id="eyes">
                <img class="eye" src="/eyedot.png" alt="eye">
                <img class="eye" src="/eyedot.png" alt="eye">
            </div>
        </div>
        <div class="filter-outer">
            <div class="filter-post">
                <button class="filter-button" type="submit">
                    <h3>Top Posts</h3>
                </button>
                <button class="filter-button" type="submit">
                    <h3>Newest Posts</h3>
                </button>
                <button class="filter-button" type="submit">
                    <h3>Most Discussed</h3>
                </button>
                <button class="filter-button" type="submit">
                    <h3>Trending</h3>
                </button>
            </div>
        </div>
        <div class="notification">
            <button id="exit-noti">x</button>
            <div>{{msg}}</div>
        </div>
</div>