<div class="sidebar">
        <div class="upper-right">
            
        </div>
        <div class="filter-outer">
            <div class="filter-post">
                <button class="filter-button" type="submit">
                    <h3>Top Posts</h3>
                </button>
                <button class="filter-button" type="submit">
                    <h3>Newest Posts</h3>
                </button>
                <button class="filter-button" type="submit">
                    <h3>Most Discussed</h3>
                </button>
                <button class="filter-button" type="submit">
                    <h3>Trending</h3>
                </button>
            </div>
    </div>
</div>