<div class="main">
        <div class='loginDiv'>
            <form>
                <h1>Login</h1>
                <div class='inputbox'>
                    <input type="email" placeholder='Email' id='email' name='email'/>
                    <i class="fa fa-envelope"></i>
                </div>
                <div class='inputbox'>
                    <input type = "password" placeholder='Password' id='pass'/>
                    <i class="fa fa-eye"></i>
                </div>
                <div class='remember'>
                    <label><input type="checkbox" />Remember me</label>
                    <a href="#">Recover Password</a>
                </div>
                <button id='login-button' type='submit'>Login</button>
                <div class='register'>
                    <p>Don't have an account? <button id="regAcc" type="button">Register</button></p>
                </div>
            </form>
        </div>
        <div class='registerDiv'>
            <form>
                <h1>Register Account</h1>
                <div class='inputbox'>
                    <input onChange="handleNameChange" placeholder='Username' id='Username'/>
                    <!-- <FaUser class='icon'/> -->
                    <i class="fa fa-user" style="font-size:17px"></i>
                </div>
                <div class='inputbox'>
                    <input onChange="handleEmailChange" type="email" placeholder='Email' id='email' name='email'/>
                    <!-- <MdEmail  class='icon'/> -->
                    <i class="fa fa-envelope"></i>
                </div>
                <div class='inputbox'>
                    <input onChange="handlePassChange" type = password placeholder='Password' id='pass'/>
                    <!-- "viewPass ? <FaRegEyeSlash onClick="() => setViewPass(!viewPass)" class='icon'/> : <FaRegEye onClick="() => setViewPass(!viewPass)" class='icon'/>" -->
                    <i class="fa fa-eye"></i>
                </div>
                <div class='inputbox'>
                    <input onChange="handleConPassChange" type = "password" placeholder='Confirm Password' id='pass'/>
                    <!-- "viewConPass ? <FaRegEyeSlash onClick="() => setViewConPass(!viewConPass)" class='icon'/> : <FaRegEye onClick="() => setViewConPass(!viewConPass)" class='icon'/>" -->
                    <i class="fa fa-eye"></i>
                </div>
        
                <button id='login-button' type='submit'>Register</button>
                
                <div class='register'>
                    <p>Have an account? <button id="logAcc" type="button">Login</button></p>
                </div>
            </form>
        </div>
    </div>