<div class="main">
        <div class='loginDiv'>
            <form name="logForm" action="login" method="post" required>
                <h1>Login</h1>
                <div class='inputbox'>
                    <input type="email" placeholder='Email' id='email' name='email' required/>
                    <i class="fa fa-envelope"></i>
                </div>
                <div class='inputbox'>
                    <input type = "password" placeholder='Password' name='pass' id='pass' required/>
                    <i class="fa fa-eye"></i>
                </div>
                <div class='remember'>
                    <label><input type="checkbox" />Remember me</label>
                    <a href="#">Recover Password</a>
                </div>
                <button class="logregbutton" id='login-button' type='submit'>Login</button>
                <div class='register'>
                    <p>Don't have an account? <button id="regAcc" type="button">Register</button></p>
                </div>
            </form>
        </div>
        <div class='registerDiv'>
            <form name="regForm" action="register" method="post" onsubmit="return validateRegForm()" required>
                <h1>Register Account</h1>
                <div class='inputbox'>
                    <input placeholder='Username' id='user' name="user"/>
                    <!-- <FaUser class='icon'/> -->
                    <i class="fa fa-user" style="font-size:17px"></i>
                </div>
                <div class='inputbox'>
                    <input type="email" placeholder='Email' id='email' name='email'/>
                    <!-- <MdEmail  class='icon'/> -->
                    <i class="fa fa-envelope"></i>
                </div>
                <div class='inputbox'>
                    <input type = "password" placeholder='Password' id='pass' name="pass"/>
                    <!-- "viewPass ? <FaRegEyeSlash onClick="() => setViewPass(!viewPass)" class='icon'/> : <FaRegEye onClick="() => setViewPass(!viewPass)" class='icon'/>" -->
                    <i class="fa fa-eye"></i>
                </div>
                <div class='inputbox'>
                    <input type = "password" placeholder='Confirm Password' id='confirmpass' name="confirmpass"/>
                    <!-- "viewConPass ? <FaRegEyeSlash onClick="() => setViewConPass(!viewConPass)" class='icon'/> : <FaRegEye onClick="() => setViewConPass(!viewConPass)" class='icon'/>" -->
                    <i class="fa fa-eye"></i>
                </div>
        
                <button class="logregbutton" id='reg-button' type='submit'>Register</button>
                
                <div class='register'>
                    <p>Have an account? <button id="logAcc" type="button">Login</button></p>
                </div>
            </form>
        </div>
    </div>