<div class="website-header">
    <a href="main/" class="website-logo-link">
        <div class="website-logo">
            <img src="/logo.png"/>
            <div id="logo"><div id="logo1">Fanime</div><div id="logo2">.tv</div></div>
            <!-- <strong>Fanime.tv</strong> -->
        </div>
    </a>
    <div class="website-search-bar">
        <form>
            <input type="text" id="search-field" placeholder="Search Fanime..."/>
            <input type="submit" id="search-button" value="Search" />
        </form>
    </div>
    <div class="website-user-profile" id="webprof">
        <button type="button" id="signup">Sign-up</button>
        <img src="https://t4.ftcdn.net/jpg/00/64/67/63/360_F_64676383_LdbmhiNM6Ypzb3FM4PPuFP9rHe7ri8Ju.jpg" id="profpic" onclick="toggleDropdown()"/>
        <div class="dropdown-wrap" id="drop">
            {{!-- <div class="dropdown">
                <div class="userdd">
                    <img src="https://cdn3.iconfinder.com/data/icons/accounting-1/80/Account-22-512.png">
                    <h2></h2>
                </div>
                <div class="linksdd">
                    <ul id="d_links">
                        <li><a href="/profile">My Profile</a></li>
                        <li><a href="#news">Settings</a></li>
                        <li><a href="#contact">Something</a></li>
                        <li><a href="#about">Logout</a></li>
                      </ul>
                </div>
            </div> --}}
        </div>
    </div> 
</div>