<div class="sidebar">
        <div class="home-segment">
            <div class="tag">
                <img src="https://www.nicepng.com/png/full/335-3354019_white-home-button-icon-png-for-kids-white.png"/>
                <strong>Home Page</strong>
            </div>
            <div class="upper-left">
                <div id="speech-bubble">
                    I'm definitely 'not' looking at your password...
                </div>
                <img id="anchor" src="/furina-derp.png" alt="derfurina">
                <div id="eyes">
                    <img class="eye" src="/eyedot.png" alt="eye">
                    <img class="eye" src="/eyedot.png" alt="eye">
                </div>
            </div> 
        </div>
        <div class="topics-segment">
            <h2>Topics/Tags</h2>

            <div value="false" class="topic">
                <img src="https://derf9v1xhwwx1.cloudfront.net/image/upload/oth/FunimationStoreFront/1287817/Latvian/1287817_Latvian_AppleSquareCover_558fe364-f1e3-ea11-82a8-dd291e252010.png"/>
                <strong>Action</strong>
            </div>

            <div value="false" class="topic">
                <img src="https://hips.hearstapps.com/hmg-prod/images/frieren-anime-review-6516abe1c62ee.jpg?crop=0.563xw:1.00xh;0.276xw,0&resize=1200:*"/>
                <strong>Adventure</strong>
            </div>

            <div value="false" class="topic">
                <img src="https://i.ebayimg.com/images/g/ykgAAOSwxFtlcv1F/s-l1600.jpg"/>
                <strong>Comedy</strong>
            </div>

            <div value="false" class="topic">
                <img src="https://i.redd.it/today-is-violets-birthday-hbd-to-my-favorite-character-v0-kq5z3wysqh8b1.jpg?width=736&format=pjpg&auto=webp&s=5c83630adaafe635e9be71d4e60a3a708377725e"/>
                <strong>Drama</strong>
            </div>

            <div value="false" class="topic">
                <img src="https://imaging.broadway.com/images/square-11/w800/119442-11.jpg"/>
                <strong>Fantasy</strong>
            </div>

            <div value="false" class="topic">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSSatr3Iw7_6Xb4kAmPvX1c3UakNjQPdlL_7WY37xl7NVlQbs7LNAX-bBzf8xli9RMUfBo&usqp=CAU"/>
                <strong>Romance</strong>
            </div>

            <div value="false" class="topic">
                <img src="https://dashgamer.com/wp-content/uploads/2020/10/wwysquaremob.png"/>
                <strong>Slice of Life</strong>
            </div>

            <div value="false" class="topic">
                <img src="https://cdn11.bigcommerce.com/s-6rs11v9w2d/images/stencil/1280x1280/products/2715/13961/302d01518aec7296461af22e8c4b7a81_1920_KR__23046.1683670520.jpg?c=1"/>
                <strong>Science Fiction</strong>
            </div>

            <div value="false" class="topic">
                <img src="https://pbs.twimg.com/profile_images/1684217553038589958/znkRVx4h_400x400.jpg"/>
                <strong>Horror</strong>
            </div>

            <div value="false" class="topic">
                <img src="https://i-ogp.pximg.net/c/540x540_70/img-master/img/2011/02/12/00/30/54/16596768_p0_square1200.jpg"/>
                <strong>Mystery</strong>
            </div>
            
        </div>
        <div class="about-segment">
            <div class="about-tag">
                <img src="https://static-00.iconduck.com/assets.00/info-icon-2048x2048-tcgtx810.png"/>
                <a href="www.example.com">About Fanime</a>
            </div>

            <div class="about-tag">
                <img src="https://cdn-icons-png.freepik.com/256/189/189665.png"/>
                <a href="www.example.com">Help</a>
            </div>  
        </div>
    </div>