<div class="main-website-structure">
{{>nav2}}
<div class="website-body">
{{>topics}}
    <div class="content"> <!--Posts to be added-->
        <div class="content-header">
            <img src="https://i.pinimg.com/originals/14/b2/ca/14b2ca100b1b979983bdfdd24eac8a48.jpg"/>
        </div>
        <div class="post-margin">
            <div class="post-area">
                <div class="post-create">
                    <div class="comment">
                        <form class="comment-form">
                            <textarea placeholder="Write your comment here..."></textarea>
                            <button type="submit"><h4>Comment</h4></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{>filterPosts}}
</div>
</div>