        /*Website Structure*/
        .main-website-structure{
            margin:0px;
            display: flex;
            flex-direction: column;
        }
        body{
            margin:0px;
        }

        
        /*Header Contents*/

        .website-header{
            display: flex;
            padding-bottom: 10px;
            padding-top: 7px;
            background-color: #0054ae;
        }
        .website-logo-link{
            text-decoration: none;
        }

        .website-logo-link:visited{
            text-decoration: none;
        }


        .website-logo{
            display: flex;
            width: 20%;
            align-items: center; /* y-axis */ 
            margin-right: 100px;
            
        }

        
        .website-logo > img{
            width: 80px;
            padding-left: 10px;
            border-radius: 30%;
            margin-right:5px;
        }
        
        .website-logo > a {
            display: inline-block; /* or display: block; */
        }

        .website-logo strong {
            font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; 
            color: #FEFFFF; 
            font-size: 25px; 
        }
        .website-search-bar{ 
            margin-left: 50px;
            justify-content: center; /* x-axis */
            display: flex;
            width: 40%;
            align-items: center; /* y-axis */ 
            background-color: #eeeae8;
            border-radius: 20px;
        }
        #search-field{ 
            width: 450px; 
            border-radius: 20px;
            border-color: #AC3B61;
        }
        #search-button{
            border-radius: 20px;
            border-color: #AC3B61;
            background-color: #d6c4b0;
        }
        .website-user-profile, .website-logout{
            width: 20%;
            display: flex;
            align-items: center; /* y-axis */ 
            justify-content: center; /* x-axis */
        }
        .website-user-profile{
            justify-content: right; /* x-axis */
        }
        .website-user-profile > img{
            width: 50px;
            padding-left: 10px;
            border-radius: 50%;
            padding-right: 2px;
        }
        .website-logout > img{
            width: 43px;
            padding-left: 80px;
            border-radius: 50%;
            padding-right: 2px;
        }
        #logout-button, #user-profile{
            border-radius: 20px;
        }
        #signup{
            border-radius: 20px;
            padding: 10px 20px; /* 1.top-buttom, 2.left-right */
            border-color: #AC3B61;
            background-color:#eeeae8;
            text-decoration: none;
            color: black;
        }
        .website-user-profile button{
            padding: 10px 20px; /* 1.top-buttom, 2.left-right */
            border-color: #AC3B61;
            background-color:#eeeae8;
        }
        .website-logout button{
            padding: 10px 20px; /* 1.top-buttom, 2.left-right */
            border-color: #AC3B61;
            background-color:#eeeae8;
        }

               /* Body Content */
               .website-body{
                display:flex;
                padding-bottom: 10px;
                border-top: 1px solid rgba(21, 20, 20, 0.972);
            }
    
            /* Body Sidebar Content */
            .sidebar{
                width: 23%;
                border-right: 1px solid rgba(21, 20, 20, 0.972);
                border-left: 1px solid rgba(21, 20, 20, 0.972);
                flex:1;
            }
            .home-segment{
                display: flex;
                flex-direction: column;
                padding-left: 20px;
                border-bottom: 1px solid rgba(21, 20, 20, 0.972);
                background-color: #eeeae8;
            }
            .tag{
                display: flex;
                align-items: center; /* y-axis */ 
                margin-top: 10px;
            }
            .tag > img{
                width: 50px;
                padding-right: 10px;
                border-radius: 50px;
            }
    
            .topics-segment{
                display: flex;
                flex-direction: column;
                padding-left: 20px;
                border-bottom: 1px solid rgba(21, 20, 20, 0.972);
                padding-bottom: 20px;
                background-color: #eeeae8;
            }
            .topics-segment > p {
                color: black; 
                font-size: 17px; 
                font-family: 'Times New Roman', Times, serif, sans-serif; 
            }
            .topic{
                display: flex;
                align-items: center; /* y-axis */ 
                margin-top: 10px;
                margin-left: 10px;
            }
            .topic > img{
                width: 50px;
                padding-right: 10px;
                border-radius: 50px;
            }
    
            .about-segment{
                display: flex;
                flex-direction: column;
                padding-left: 10px;
                border-bottom: 1px solid rgba(21, 20, 20, 0.972);
                padding-bottom: 20px;
                background-color: #eeeae8;
            }
            .about-tag{
                display: flex;
                align-items: center; /* y-axis */ 
                margin-top: 10px;
                margin-left: 10px;
            }
            .about-tag > img{
                width: 50px;
                padding-right: 10px;
                border-radius: 50px;
            }
    
            .content{
                flex-direction: column;
                background-color: #e7dce0;
                width: 77%;
                height: 885px;
                flex:3;
            }
            .content-header{
                display: flex;
            }
            .content-header > img{
                width: 100%;
                height: 150px;
            }
    
            /*For margin and entire body of posts*/
            .post-margin{
                width: 100%;
                height: 82%;
                padding-top: 1%;
                display: flex;
                justify-content: center;
                overflow: scroll;
                overflow-x: hidden;
            }
            .post-area{
                width: 80%;
                height: 100%;
            }
            .post-create{
                background-color: wheat;
                width: 95.5%;
                margin: 0.5% 2%;
                padding: 0.5% 0.25%;
                height: auto;
            }
            .post-form{
                height: auto;
                flex-direction: column;
            }
            .post-row{
                width: 100%;
                display: flex;
            }
            .post-form textarea{
                width: 90%;
                height: 50px;
                border-radius: 15px;
                resize: none;
            }
            .post-row > input[type="file"]{
                display: none;
            }
            .post-row > input[type="text"]{
                width: 90%;
                height: 25px;
                border-radius: 15px;
            }
            .post-row > label > img,.post-row > button{
                width: 50px;
                height: 50px;
            }
            /*Content of post*/
            .post{
                background-color: white;
                width: 95.5%;
                margin: 1% 2%;
                height: auto;
                border-radius: 15px;
                flex-direction: column;
                border: 2px solid transparent;
            }
            .post:hover {
                border-color: black;
                border-width: 2px solid;
            }
            /*Profile pic name etc*/
            .post-header{
                width: 100%;
                height: 40px;
                display: flex;
                background-color: orange;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                border-bottom: black solid 1px;
                align-items: center;
                justify-content: space-between;
            }
            .post-title{
                width: 70%;
            }
            .post-profile{
                display: flex;
            }
            .post-profile > img{
                margin-left: 5px;
                border-radius: 50%;
                width: 30px;
                height: 30px;
            }
            .post-body{
                width: 100%;
                height: auto;
            }
            .post-action{
                width: 100%;
                height: 20px;
                padding: 2.5px 0px;
                display: flex;
            }
            .post-action > img{
                width: 15px;
                height: 15px;
                margin: 0px 5px;
            }
            .comment{
                width: 100%;
                height: auto;
            }
            .comment-form{
                height: 100%;
                display: flex;
            }
            .comment-form textarea{
                width: 90%;
                border-radius: 10px;
                height: auto;
                resize: none;
            }
            .comment-form > button{
                width: 10%;
                height: 100%;
                border-radius: 10px;
                margin: 0px 0px;
                vertical-align: middle;
            }
            /*display comments*/
            .comment-section{
                width: 100%;
                height: 100px;
                flex-direction: column;
                overflow-y: auto;
            }
            .comment-text{
                width: 100%;
                display: flex;
            }
            .comment-user{
                width: 20%;
                height: auto;
                margin: 0.1%
            }
            .hidden {
                display: none;
            }
    
            /*Right side bar*/
            .filter-post{
                width: 20%;
                height: auto;
                flex-direction: column;
            }
            .filter-button{
                width: 90%;
                height: 8%;
                display: flex;
            }
        
