.prf-container{
    display:flex;
}
body{
    margin: 0;
    padding: 0;
    color: white;
}

.prf-banner {
    width: 100%; 
    height: 200px;
    overflow: hidden;
    position: relative; 
}

.prf-banner img {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
    object-position: 0px -50px;
    display: block;
    width: 100%;
    height: auto;
}




.prf-side {
    flex: 1;
    /* Define styles for side divs if needed */
    background-color: #192428;
    height: auto;
}

.prf-middle {
    display: flex;
    flex-direction: column; /* Optional, if you want items to stack vertically */
    align-items: center; /* Optional, if you want items centered horizontally */
    flex: 3; /* Adjust the width ratio as needed */
    /* Other styles for the middle div */
    margin: 0 auto; /* This centers the middle div horizontally */
    background-color: rgb(68, 71, 145); /* Example background color */
    /* Define other styles for the middle div */
    height: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
    position: relative;
}

.profile-details {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.prf-container {
    position: relative;
}

.profile-picture {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 175px;
    justify-content: center;
    align-items: center;
}

.profile-picture > img{
   
    width: 100%;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1); 
}


.username{
    margin-top:90px;
    padding: 20px;
    color: black;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
   
}

.bio-box {
    width: 90%; /* Adjust width as needed */
    background-color: #192428;; /* Adjust background color as needed */
    min-height: 200px;
    border-radius: 10px;
    padding: 30px;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}


.prf-favs {
    display: flex;
    justify-content:space-around;
    margin-top: 30px;
    align-items:baseline;
    width: 100%;
    max-width: 100%;
    height: 300px;

  
}

.favs-inner{
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */

    width: 200px;
    height: auto;
    
}

.favs-inner > h2 {
    margin: 0; /* Remove default margin */
    text-align: center; /* Center the text */
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 30%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.favs-inner > .tooltip > img {
    margin: 10px;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    justify-content: space-around;
    border: 2px solid black;
    object-fit: cover;
}


.prf-posts {
   margin-top: 30px;
    width: 90%;
    height: auto;
    text-align: center;
    border-radius: 10px;
    background-color:cornflowerblue;
}

.prf-edit {

    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    width: 40px;
    position: absolute;
    top: 15px;
    right: 10px;
}

.prf-edit > img{
width: 100%;
}
