
  
  nav{
      position: sticky;
      top: 0;
        display: flex;
        justify-content: space-between;
      background-image: linear-gradient(to right, rgb(115, 42, 233), #6183df);
      height: 60px;
  }
  
  #lid{
    display: flex;
    flex-wrap: wrap;
    overflow:hidden;
    width: 235px;
    /* background-color: #00ff37; */
    height: 60px;
    transition: 0.6s;
  }
  
  #logo_icon{
    display: flex;
    justify-content: space-around;
    width: 235px;
    align-items: center;
    height: 60px;
    /* background-color: #5bc483; */
  }
  
  #hamburger{
    font-size: 3em;
    cursor: pointer;
    color: white;
    transition: 0.4s all;
  }
  
  #logo{
    display: flex;
    width: 180px;
    background-color: 20px;
  }
  
  @font-face {
    font-family: "Gagalin-Regular";
    src: url("https://db.onlinewebfonts.com/t/240a7cb10b49b02c94ceddc459d385a9.eot");
    src: url("https://db.onlinewebfonts.com/t/240a7cb10b49b02c94ceddc459d385a9.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/240a7cb10b49b02c94ceddc459d385a9.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/240a7cb10b49b02c94ceddc459d385a9.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/240a7cb10b49b02c94ceddc459d385a9.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/240a7cb10b49b02c94ceddc459d385a9.svg#Gagalin-Regular")format("svg");
  }
  
  #logo1{
    letter-spacing: 2px;
    padding-left: 10px;
    color:rgb(255, 255, 255);
    font-size: 40px;
    font-weight: bold;
    font-family: "Gagalin-Regular", Helvetica, sans-serif;
    background-image: linear-gradient(to right, #8c52ff, #5ce1e6);
    height: 50px;
    width: 136px;
  }
  
  #logo2{
    padding-right: 9px;
    color:yellow;
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    font-family: "Gagalin-Regular", Helvetica, sans-serif;
    background-image: linear-gradient(to right, #5ce1e6, #5ce1e6);
    height: 50px;
    width: 40px;
    max-width:180px;
  }
  
  #dropdown{
    width: inherit;
    height: inherit;
    visibility: hidden;
    transition: 0.5s ease-out;
  }
  
  #d_links{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    background-color: blue;
    margin: 0px;
    padding-left: 0px;
  }
  
  #d_links > li{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    height: 50px;
    width: 235px;
    background-color: #a35dff;
  }
  
  #d_links > li a{
    display: flex;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: Verdana;
  }
  
  #d_links > li:hover {
    background-color: rgba(168, 50, 223, 0.836);
  }
  
  #midlinks{
    height: 200px;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
    
  #midlinks > li{
    float: left;
    padding-left: 30px;
  }
    
  #midlinks > li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    height: 27px;
    font-size: 20px;
    font-family: Verdana;
    height: 60px;
  }
    
  #midlinks > li a:hover {
    background-color: #9b979e54;
  }
  
  #searchHolder{
    display: flex;
    justify-content: right;
    float: right;
    align-items: center;
    height: 60px;
    width: 500%;
    /* background-color: blue; */
  }
  
  #search{
    position: relative;
    height: 40px;
    width: 50px;
    margin-right: 5px;
    /* background-color: red; */
  }
  
  #search > #iconButton{
    position: absolute;
    border: none;
    background-color: white;
    border-radius: 100px;
    height: 25px;
    width: 25px;
    top: 16.5%;
    right: 30%;
    color: #333;
    cursor: pointer;
    transition: all 0.8s ease-in-out;
  }
  
  #icon{
    font-size: 16px;
  }
  
  #bar{
    background: url();
    background-color: rgb(255, 255, 255);
    height: 30px;
    width: 0px;
    float: right;
    border: 0;
    outline: none;
    border-radius: 100px;
    padding-right: 31px;
    margin-right: 10px;
    margin-top: 3px;
    font-size: 17px;
    transition: all 0.75s ease-in;
  }
  
  #search:hover > #bar{
    width: 200px;
    padding-left: 10px;
  }
  
  #bar:focus{
    border-color: rgb(0, 0, 0);
    width: 200px;
    padding-left: 10px;
  }
  
  #bar:focus + #iconButton{
    transform: rotateZ(-360deg);
  }
  
  #search:hover > #iconButton{
    transform: rotateZ(-360deg);
  }
  
  .main img{
    width: 100%;
  }